
@{
    ViewBag.Title = "Excluindo";
}

<h2>Atualizando Produto</h2>

<div>
    <form action="/Produto/Delete" method="post">
        <div class="form-group">
            <label>Descrição</label>
            <label>ValorEstático</label>
        </div>

        <div class="form-group">
            <label>Mínimo</label>
            <label>10</label>
        </div>

        <div class="form-group">
            <label>Máximo</label>
            <label>10</label>
        </div>

        <div class="form-group">
            <label>Estoque Atual</label>
            <label>10</label>
        </div>

       
        <a href="/Produto/Delete?id=1"><button type="button" class="btn btn-danger">Excluir</button></a>
        <a href="/Produto/Index"> <button type="button" class="btn btn-primary">Voltar</button>  </a>




    </form>



</div>

