
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Gestão de Produto

         <a href="/Produto/Create">
              <button type="button" class="btn btn-success">Novo</button>
          </a>

    </h2>

</div>

<div>
    

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Mínimo</th>
                <th scope="col">Máximo</th>
                <th scope="col">Em Estoque</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 5; i++)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>Feijão</td>
                    <td>10</td>
                    <td>50</td>
                    <td>20</td>
                    <td>
                        <button type="button" class="btn btn-warning">Editar</button>
                        <button type="button" class="btn btn-primary">Exibir</button>
                        <button type="button" class="btn btn-danger">Excluir</button>

                    </td>
                </tr>
            }


</div>

